.card {
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
}

@media (min-width: 320px) {
  .card {
    width: 80%;
  }
  .cardImage {
    height: 200px;
  }
}

@media (min-width: 768px) {
  .card {
    width: 45%;
  }
  .cardImage {
    height: 200px;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 30%;
  }
  .cardImage {
    height: 200px;
  }
}

@media (min-width: 1200px) {
  .card {
    width: 20rem;
  }
}

.card p {
  margin: 0.5rem;
}

.cardImage {
  border-radius: 8px 8px 0px 0px;
  object-fit: cover;
}

.dogBreed {
  font-size: 1rem;
}

.dogBreedOverview {
  font-size: 0.75rem;
}
