.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 320px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 80%;
  }
}
